$primary: #008a7a;
$navbar-color: #00464f;
$theme-site-navbar-menu-bg-color: #00464f;
$theme-lazarus-card-bg-color-dark: rgba(0, 70, 79, .9);

@import "../../node_modules/@endeavor-business-media/lazarus-shared/theme";
