$primary: #f78d28;
$navbar-color: #555;
$theme-site-navbar-menu-bg-color: #444;
$theme-lazarus-card-bg-color-dark: rgba(17, 17, 17, .9);

@import "../../node_modules/@endeavor-business-media/lazarus-shared/theme";

.node-list {
  &__header {
    &--home-recommended {
      padding-top: 0;
      padding-left: 0;
      margin-left: 10px;
    }
  }
}
