$primary: #37819e;
$navbar-color: #8c918e;
$theme-site-navbar-menu-bg-color: #003e4f;
$theme-lazarus-card-bg-color-dark: rgba(0, 62, 79, .9);

@import "../../node_modules/@endeavor-business-media/lazarus-shared/theme";
