$primary: #555;
$navbar-color: #999;
$theme-site-navbar-menu-bg-color: #777;
$theme-lazarus-card-bg-color-dark: rgba(77, 77, 77, .9);

@import "../../node_modules/@endeavor-business-media/lazarus-shared/theme";
