$primary: #8b634b;
$navbar-color: #7a232e;
$theme-site-navbar-menu-bg-color: #53565a;
$theme-lazarus-card-bg-color-dark: rgba(62, 57, 53, .9);

@import "../../node_modules/@endeavor-business-media/lazarus-shared/theme";

.node-list {
  &__header {
    &--home-recommended {
      padding-top: 0;
      padding-left: 0;
      margin-left: 10px;
    }
  }
}
