$primary: #0096a9;
$navbar-color: #333e48;
$theme-site-navbar-menu-bg-color: #333e48;
$theme-lazarus-card-bg-color-dark: rgba(9, 11, 12, .9);

@import "../../node_modules/@endeavor-business-media/lazarus-shared/theme";

.node-list {
  &__header {
    &--home-recommended {
      padding-top: 0;
      padding-left: 0;
      margin-left: 10px;
    }
  }
}
