$primary: #e87324;
$navbar-color: #8c918f;
$theme-site-navbar-menu-bg-color: #221f1f;
$theme-lazarus-card-bg-color-dark: rgba(0, 0, 0, .9);

@import "../../node_modules/@endeavor-business-media/lazarus-shared/theme";
