$secondary: #79868b;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;

$theme-site-navbar-secondary-bg-color: #fff;
$theme-site-navbar-primary-bg-color: $primary;

$theme-site-navbar-secondary-link-color: $navbar-color;
$theme-site-navbar-secondary-link-hover-color: $navbar-color;
$theme-site-navbar-secondary-link-active-color: $navbar-color;

$theme-site-navbar-tertiary-link-color: $navbar-color;
$theme-site-navbar-tertiary-link-hover-color: $navbar-color;
$theme-site-navbar-tertiary-link-active-color: $navbar-color;

$theme-site-navbar-secondary-padding-y: 15px;
$theme-site-navbar-logo-height: 30px;
$theme-site-navbar-logo-height-sm: 25px;

$theme-site-footer-logo-height: 45px;

$theme-site-header-breakpoints: (
  hide-primary: 10000px,
  hide-secondary: 906px,
  small-logo: 1015px,
  small-text-primary: 932px,
  small-text-secondary: 1105px
);

$theme-newsletter-block-bg-color: $theme-lazarus-card-bg-color-dark !default;
$theme-newsletter-block-button-bg-color: $primary !default;

// @todo Verify this. Reduced the z-index to prevent overlaying the welcome ad.
// Currently, the ad template is z-indexing at 20000, so setting this lower.
// The default value was 50000
$theme-site-header-z-index: 15000;

@import "../../node_modules/@base-cms/marko-web-gam/scss/fixed-ad-bottom";
@import "../../node_modules/@base-cms/marko-web-theme-default/skins/lazarus/skin.scss";

$theme-sponsored-content-color: #ee591d !default;

@mixin sponsored-content-tag() {
  $line-height: 1.35;
  @include theme-line-height-crop($line-height);
  font-size: 12px;
  font-weight: 700;
  line-height: $line-height;
  color: $theme-sponsored-content-color;
  text-transform: uppercase;
}

@mixin gutter-padding-x() {
  padding-right: $grid-gutter-width / 2;
  padding-left: $grid-gutter-width / 2;
}

@mixin gutter-padding-x-modifier() {
  &--gutter-padding-x {
    @include gutter-padding-x();
  }
}

@mixin gutter-padding-y() {
  padding-top: $grid-gutter-width / 2;
  padding-bottom: $grid-gutter-width / 2;
}

@mixin gutter-padding-y-modifier() {
  &--gutter-padding-y {
    @include gutter-padding-y();
  }
}

.full-flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ad-container {
  @include gutter-padding-x-modifier();
  @include gutter-padding-y-modifier();

  &--no-shadow {
    iframe {
      box-shadow: none;
    }
  }

  &--left-rail-sticky {
    position: sticky;
    top: -$grid-gutter-width;
    z-index: 1;
  }

  &--text-left {
    text-align: left;
  }

  &--full-height {
    height: 100%;
  }

  &--body-inline {
    margin-bottom: $theme-content-paragraph-margin-bottom;
  }
}

.node {
  $self: &;
  &__title {
    @include theme-line-height-crop($theme-item-title-line-height);
  }

  &__sponsored-content {
    @include sponsored-content-tag();
  }

  &--card {
    #{ $self } {
      &__sponsored-content {
        margin-top: .25rem;
      }
    }
  }
}

.content-page-card {
  &__sponsored-content {
    @include sponsored-content-tag();
    margin-bottom: .75rem;
  }

  &__content-embed-code {
    margin-top: map-get($spacers, block);
    @include theme-embed-responsive($theme-primary-media-video-aspect-ratio-x, $theme-primary-media-video-aspect-ratio-y);

    iframe,
    embed,
    object,
    video {
      @include theme-embed-responsive-item();
    }
  }

  &__header-body {
    &--media-gallery {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.media-gallery-slideshow {
  position: relative;
  display: block;
  margin-top: map-get($spacers, block);
  margin-bottom: map-get($spacers, block);

  &__image {
    @include theme-embed-responsive-item();
  }

  &__link {
    @include theme-embed-responsive($theme-primary-media-video-aspect-ratio-x, $theme-primary-media-video-aspect-ratio-y);
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -29px;
    margin-left: -117px;
  }
}

.node-list {
  @include gutter-padding-x-modifier();
  @include gutter-padding-y-modifier();

  &--related-content {
    padding-top: map-get($spacers, block);
  }
}

.page-grid {
  &__left-col {
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
    @each $breakpoint, $width in sort-map-by-values($theme-site-header-breakpoints, desc) {
      @media (max-width: $width) {
        top: calc(#{calculate-navbar-height-for($breakpoint)});
        height: calc(100vh - #{calculate-navbar-height-for($breakpoint)});
      }
    }
  }

  &__right-col {
    padding-top: $grid-gutter-width;
  }

  &__col {
    &--content-page {
      padding-top: $grid-gutter-width;
    }
  }
}

.gallery-slideshow {
  &__image-wrapper {
    position: relative;
    overflow: hidden;
    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      margin-right: -$grid-gutter-width / 2;
      margin-left: -$grid-gutter-width / 2;
    }
  }

  &__image-inner-wrapper {
    width: 100%;
    height: auto;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__credit {
    // @todo use variables from regular image credit
    position: absolute;
    top: 0;
    right: 0;
    padding: .25rem .75rem;
    font-size: .75rem;
    font-weight: 600;
    color: #fff;
    background-color: rgba(64, 71, 93, .5);
  }

  $arrow-size: 40px;
  $arrow-size-sm: 30px;

  $button-size: 100px;
  $button-size-sm: 80px;

  &__next,
  &__previous {
    position: absolute;
    top: 50%;
    display: block;
    width: $button-size;
    height: $button-size;
    margin-top: -$button-size / 2;
    color: #000;
    cursor: pointer;
    background-color: #ccc;
    border-radius: $button-size;
    opacity: .95;

    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      width: $button-size-sm;
      height: $button-size-sm;
      margin-top: -$button-size-sm / 2;
      border-radius: $button-size-sm;
    }

    .marko-web-icon {
      position: absolute;
      top: ($button-size / 2) - ($arrow-size / 2);
      display: block;
      width: $arrow-size;
      height: $arrow-size;
      svg {
        width: $arrow-size;
        height: $arrow-size;
      }

      @include media-breakpoint-down($theme-responsive-text-breakpoint) {
        top: ($button-size-sm / 2) - ($arrow-size-sm / 2);
        width: $arrow-size-sm;
        height: $arrow-size-sm;
        svg {
          width: $arrow-size-sm;
          height: $arrow-size-sm;
        }
      }
    }
  }

  &__previous {
    left: 0;
    margin-left: -$button-size / 2;

    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      margin-left: -$button-size-sm / 2;
    }

    .marko-web-icon {
      right: ($arrow-size / 2) - 5px;
      @include media-breakpoint-down($theme-responsive-text-breakpoint) {
        right: ($arrow-size-sm / 2) - 5px;
      }
    }
  }

  &__next {
    right: 0;
    margin-right: -$button-size / 2;

    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      margin-right: -$button-size-sm / 2;
    }
    .marko-web-icon {
      left: ($arrow-size / 2) - 5px;
      @include media-breakpoint-down($theme-responsive-text-breakpoint) {
        left: ($arrow-size-sm / 2) - 5px;
      }
    }
  }

  &__slide-count {
    margin-bottom: 15px;
  }

  &__title {
    font-family: $theme-item-title-font-family;
    font-size: 32px;
    font-weight: $theme-item-title-font-weight;
    line-height: 1.4;
    color: $theme-item-title-color;
  }

  &__body {
    @include theme-content-body();
  }
}

.page-wrapper {
  $self: &;
  padding-top: 0;
  padding-bottom: 0;

  @include gutter-padding-x-modifier();
  @include gutter-padding-y-modifier();

  &--website-section-header {
    @include gutter-padding-y();
  }

  &--child-website-section-nav {
    @include gutter-padding-y();
  }

  &--media-gallery-slideshow-header,
  &--media-gallery-slideshow-contents {
    #{ $self } {
      &__section {
        padding-top: $grid-gutter-width;
        padding-right: $grid-gutter-width / 2;
        padding-bottom: $grid-gutter-width;
        padding-left: $grid-gutter-width / 2;

        @include media-breakpoint-down($theme-responsive-text-breakpoint) {
          padding-right: 0;
          padding-left: 0;
        }
      }
    }
  }

  &--media-gallery-slideshow-header {
    border-bottom: 2px solid $body-bg;
    #{ $self } {
      &__content-name {
        max-width: 640px;
        font-family: $theme-item-title-font-family;
        font-size: 24px;
        font-weight: $theme-item-title-font-weight;
        line-height: 1.4;
        color: $theme-item-title-color;
        // stylelint-disable-next-line selector-max-compound-selectors
        a {
          color: $theme-item-title-color;
        }
      }

      &__content-published {
        font-family: $theme-content-published-date-font-family;
        font-size: 14px;
        font-weight: 400;
        color: $theme-item-header-color;
        text-transform: uppercase;
      }
    }
  }
}

// Informa/Penton Eloqua Forms
.eloqua-iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-container-eloqua {
  padding-bottom: $theme-content-paragraph-margin-bottom;
}

.page-contents {
  &__content-body {
    p + .embed-container-eloqua {
      margin-top: -$theme-content-paragraph-margin-bottom;
    }
  }

  &__button {
    margin-top: map-get($spacers, block);
  }
}

.newsletter-signup-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $grid-gutter-width * 2;
  background-color: $theme-newsletter-block-bg-color;

  &__title {
    @include theme-line-height-crop(1.5);
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    color: $white;
    text-align: center;
  }

  &__form {
    width: 100%;
  }

  &__field-wrapper {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  &__email-field {
    width: 70%;
    height: 45px;
    padding: 2px 20px;
    border: 0;
  }

  &__submit-button {
    height: 45px;
    padding: 2px 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
    letter-spacing: .1px;
    background-color: $theme-newsletter-block-button-bg-color;
    border: none;
  }
}
