$primary: #98272e;
$navbar-color: #55222b;
$theme-site-navbar-menu-bg-color: #55222b;
$theme-lazarus-card-bg-color-dark: rgba(85, 34, 43, .9);

@import "../../node_modules/@endeavor-business-media/lazarus-shared/theme";

.node-list {
  &__header {
    &--home-recommended {
      padding-top: 0;
      padding-left: 0;
      margin-left: 10px;
    }
  }
}
