$primary: #85332d;
$navbar-color: #8d918f;
$theme-site-navbar-menu-bg-color: #555759;
$theme-lazarus-card-bg-color-dark: rgba(35, 36, 37, .9);

@import "../../node_modules/@endeavor-business-media/lazarus-shared/theme";
