$primary: #d74022;
$navbar-color: #333e48;
$theme-site-navbar-menu-bg-color: #333e48;
$theme-lazarus-card-bg-color-dark: rgba(9, 11, 12, .9);

@import "../../node_modules/@endeavor-business-media/lazarus-shared/theme";
