.directory-facets {
  $self: &;
  &__list {
    #{ $self } {
      &__list {
        padding: $grid-gutter-width / 2;
      }
    }
  }
}

.directory-facet {
  $self: &;
  &--active {
    > #{ $self }__link {
      font-weight: 600;
    }
  }
}
