// Customizations for the /magazine page settings

.page {

  &--magazines {
    .magazine-publication-card-block {
      &__header {
        padding-top: 0;
        padding-bottom: 0;
      }
      .node {
        &__title {
          text-align: center;
        }
      }
    }
  }

  &--magazine-publication {
    margin-top: 0;
  }

  // to override packages/lazarus-shared/scss/components/_node.scss setting
  // not sure what else it would affect, so scoping the override to this block
  // now match current setting from /@base-cms/marko-web/scss/node.scss
  .node {
    $self: &;
    &--image-top {
      #{ $self } {
        &__image-wrapper + #{ $self }__body {
          margin-top: .75rem;
        }
      }
    }
  }
}
