$primary: #009bde;
$navbar-color: #8c918f;
$theme-site-navbar-menu-bg-color: #043c6f;
$theme-lazarus-card-bg-color-dark: rgba(0, 7, 13, .9);

@import "../../node_modules/@endeavor-business-media/lazarus-shared/theme";

.node-list {
  &__header {
    &--home-recommended {
      padding-top: 0;
      padding-left: 0;
      margin-left: 10px;
    }
  }
}
