$primary: #00b398;
$navbar-color: #8c9190;
$theme-site-navbar-menu-bg-color: #007295;
$theme-lazarus-card-bg-color-dark: rgba(0, 38, 51, .9);

@import "../../node_modules/@endeavor-business-media/lazarus-shared/theme";

.node-list {
  &__header {
    &--home-recommended {
      padding-top: 0;
      padding-left: 0;
      margin-left: 10px;
    }
  }
}
