$primary: #ba2031;
$navbar-color: #473729;
$theme-site-navbar-menu-bg-color: #7d868c;
$theme-lazarus-card-bg-color-dark: rgba(125, 134, 140, .9) !default;

@import "../../node_modules/@endeavor-business-media/lazarus-shared/theme";
