$primary:#cf202e;
$navbar-color: #222;
$theme-site-navbar-menu-bg-color: #222;
$theme-lazarus-card-bg-color-dark: rgba(0, 0, 0, .9);

@import "../../node_modules/@endeavor-business-media/lazarus-shared/theme";
