$primary: #00709b;
$navbar-color: #8c918f;
$theme-site-navbar-menu-bg-color: #6b1e5a;
$theme-lazarus-card-bg-color-dark: rgba(27, 8, 23, .9);

@import "../../node_modules/@endeavor-business-media/lazarus-shared/theme";

.node-list {
  &__header {
    &--home-recommended {
      padding-top: 0;
      padding-left: 0;
      margin-left: 10px;
    }
  }
}
